<div id="overflowTest">
    <h1> <img id="home" src="/assets/images/sports.jpg" alt="">SPORTS DAY<img id="home" src="/assets/images/cricket.png"
            alt=""></h1>Kendriya Vidyalaya organised its 25th Annual Sports Day. The event took place in the spacious
    playground of the school. The Deputy Commissioner of Police was the chief guest of the event. A large temporary
    sitting arena was constructed for the parents and students to sit and enjoy the day. Students of various classes
    participated in the sports day.
</div>