
<div  id="overflowTest">
    <h1> <img id="home" src="/assets/images/imgcake.jpg" alt="">MY BIRTHDAY<img id="home" src="/assets/images/baloon.jpg" alt=""></h1>This text
    is really long and the height of its container is only 100 pixels. Therefore, a scrollbar is added to help the
    reader to scroll the content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
    hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
</div>