<h1>MY DAILY DIARY</h1>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-align: center; font-size: large;">DATE</a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" routerLink="/tenmay" href="#">JAN</a>
            <a class="dropdown-item" routerLink="/elvnmay" href="#">FEB</a>
            <a class="dropdown-item" roterLink="/may12" href="#">MARCH</a>
            <a class="dropdown-item" routerLink="/may13" href="#">APRIL</a>
            <a class="dropdown-item" routerLink="/may14" href="#">MAY</a>
            <a class="dropdown-item" routerLink="/may15" href="#">JUNE</a>
            <a class="dropdown-item" routerLink="/may16" href="#">JULY</a>
            <a class="dropdown-item" routerLink="/may17" href="#">AUG</a>
            <a class="dropdown-item" routerLink="/header" href="#">Add More Dates</a>

          </ul>
        </li>


<router-outlet></router-outlet>