<div id="overflowTest">
    <h1><img id="home" src="/assets/images/cinma.jpg" alt="">MOVIE DAY</h1>Avatar (marketed as James Cameron's Avatar) is a 2009 epic science fiction film directed, written,
    co-produced, and co-edited by James Cameron and starring Sam Worthington, Zoe Saldana, Stephen Lang, Michelle
    Rodriguez,[6] and Sigourney Weaver. It is the first installment in the Avatar film series. It is set in the mid-22nd
    century, when humans are colonizing Pandora, a lush habitable moon of a gas giant in the Alpha Centauri star system,
    in order to mine the valuable mineral unobtanium.[a]
</div>